doctype html
html
  head
    title="КОНТЕКСТ"
    <meta charset="UTF-8">
    <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WD4C64RD24"></script>
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    div(style="margin: 30px auto; width:300px;text-align: center;font-size:24px")
      div Пожалуйста, используйте любой современный браузер: Chrome, Яндекс, Edge, Safari.

