doctype html
html
  head
    include meta

  body
    div(style="margin: 30px auto; width:300px;text-align: center;")
      div Пожалуйста, используйте любой современный браузер: Chrome, Яндекс, Edge, Safari.

