html
    head
        style.
            video{
                width: 100%;
                height: 100%;
            }
    body(style="margin:0")
        div#cameraBox(style="width:100%;height:100%")
        //video#videoCamera(width="640" height="360"  controls style="width:100%;height:100%")
        script(src="/javascripts/flashphoner.js")
        script(src="/javascripts/cameraScript.js")

