extends layout

block content
    .playerBox#playerBox(v-bind:class="{fullScreen:(!state.q)}")
        .playerLeft


            .videoWrapper
                iframe(src="/player" allowfullscreen="" width="640" height="360" frameborder="none")

        .playerRight(v-if="state.q")
            .voteWr(v-if="votes.filter(v=>v.isactive).length>0")
                include votes
            .voteWr(v-if="tags.filter(v=>v.isactive).length>0")
                include tags
            .playerRightHead()
                .playerMenu
                    .playerMenuItem(v-bind:class="{active:playerSect==0}" v-on:click="playerSect=0")
                        .playerMenuItemLogo
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19.955 4.04502C17.8301 1.92022 15.005 0.75 12 0.75C8.99502 0.75 6.16991 1.92022 4.04502 4.04502C1.92022 6.16991 0.75 8.99502 0.75 12C0.75 13.9822 1.27014 15.9213 2.25671 17.6268L0.75 23.25L6.3732 21.7433C8.07872 22.7299 10.0178 23.25 12 23.25C15.005 23.25 17.8301 22.0798 19.955 19.955C22.0798 17.8301 23.25 15.005 23.25 12C23.25 8.99502 22.0798 6.16991 19.955 4.04502ZM12.6592 17.603H11.3408V16.2847H12.6592V17.603ZM14.4562 11.89L12.6592 13.8997V14.9663H11.3408V13.3962L13.4736 11.011C13.7987 10.6479 13.9775 10.1798 13.9775 9.69287C13.9775 8.60246 13.0904 7.71533 12 7.71533C10.9096 7.71533 10.0225 8.60246 10.0225 9.69287H8.7041C8.7041 7.87551 10.1826 6.39697 12 6.39697C13.8174 6.39697 15.2959 7.87551 15.2959 9.69287C15.2959 10.5048 14.9977 11.285 14.4562 11.89Z" fill="#555555"/>
                            </svg>
                        .playerMenuItemTitle Вопросы
                    .playerMenuItem#support(v-bind:class="{active:playerSect==1}" v-on:click="playerSect=1")
                        .playerMenuItemLogo
                            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.594 3.75C8.16618 3.75 3.75078 7.3456 3.75078 11.7652C3.75078 14.0038 4.87572 16.1033 6.86124 17.6135C6.20456 18.6386 5.35523 19.6764 4.28372 19.9407C3.94483 20.0251 3.71844 20.3457 3.75359 20.693C3.78874 21.0418 4.0742 21.3103 4.42434 21.3258C4.4398 21.3258 4.50027 21.3286 4.60152 21.3286C5.32851 21.3286 8.13524 21.2119 11.3202 19.5597C12.05 19.7073 12.8136 19.7804 13.594 19.7804C19.0205 19.7804 23.4373 16.1848 23.4373 11.7652C23.4373 7.3456 19.0205 3.75 13.594 3.75Z" fill="#0088BB"/>
                            <path d="M25.7148 24.8104C24.8191 24.5897 24.1413 23.9344 23.6674 23.2847C25.3169 21.9925 26.2492 20.2151 26.2492 18.3209C26.2492 16.7348 25.5827 15.2766 24.476 14.1108C23.2259 18.1733 18.8288 21.1867 13.5936 21.1867C12.8947 21.1867 12.2043 21.1333 11.5335 21.0278C11.1342 21.2205 10.7433 21.3906 10.3594 21.5425C11.7782 23.7221 14.5849 25.2112 17.8121 25.2112C18.4716 25.2112 19.1114 25.1507 19.7189 25.0326C21.7368 26.0605 23.5774 26.2504 24.6602 26.249C25.2536 26.249 25.6192 26.1927 25.66 26.1857C25.989 26.1323 26.2351 25.8538 26.2492 25.5206C26.2618 25.1873 26.0397 24.8892 25.7148 24.8104Z" fill="#0088BB"/>
                            </svg>

                        .playerMenuItemTitle Чат

            .playerChatWr(v-if="playerSect==0" v-show="state.q")
                .playerChatPole#qBox
                    .playerChatPoleWr
                        .playerChatItem(v-for="item in q" )
                            .playerChatTitle  {{item.f}} {{item.i}}
                            .playerChatText {{item.text}}
                            .playerChatDate {{moment(item.date).format('HH:mm')}}
                        .playerChatItem(v-if="q.length==0")
                            .playerChatText нет сообщений
                .playerChatInputForm
                    //textarea(placeholder="Напишите здесь Ваш вопрос" v-model="qText" maxlength="1200"  )
                    input(placeholder="Напишите здесь Ваш вопрос" v-model="qText" maxlength="1200" v-on:keyup.enter="newQ()")
                    .btn.playerChatSend#qSendBtn(v-on:click="newQ()")
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"  viewBox="0 0 512.001 512.001" style="enable-background:new 0 0 512.001 512.001;" xml:space="preserve"> <path d="M483.927,212.664L66.967,25.834C30.95,9.695-7.905,42.023,1.398,80.368l21.593,89.001 c3.063,12.622,11.283,23.562,22.554,30.014l83.685,47.915c6.723,3.85,6.738,13.546,0,17.405l-83.684,47.915 c-11.271,6.452-19.491,17.393-22.554,30.015l-21.594,89c-9.283,38.257,29.506,70.691,65.569,54.534l416.961-186.83 C521.383,282.554,521.333,229.424,483.927,212.664z M359.268,273.093l-147.519,66.1c-9.44,4.228-20.521,0.009-24.752-9.435 c-4.231-9.44-0.006-20.523,9.434-24.752l109.37-49.006l-109.37-49.006c-9.44-4.231-13.665-15.313-9.434-24.752 c4.229-9.44,15.309-13.666,24.752-9.435l147.519,66.101C373.996,245.505,374.007,266.49,359.268,273.093z"/></svg>
                    .playerChatInputFormLoaderWr(v-if="chatTextSend")
                        .playerChatInputFormLoader
            .playerChatWr(v-if="playerSect==1" v-show="state.q")
                .playerChatPole#chatBox
                    .playerChatPoleWr
                        .playerChatItem(v-for="item in chat" v-if="")
                            .playerChatTitle  {{item.f}} {{item.i}}
                            .playerChatText {{item.text}}
                            .playerChatDate {{moment(item.date).format('HH:mm')}}
                            .playerChatText(v-if="item.answer && item.answer.length>0")
                                .playerChatTextHead Ответ:
                                .playerChatTextBody {{item.answer}}
                            .playerChatDate {{moment(item.date).format('HH:mm')}}
                        .playerChatItem(v-if="chat.length==0")
                            .playerChatText нет сообщений
                .playerChatInputForm
                    input(placeholder="Напишите здесь сообщение" v-model="chatText" maxlength="1200" v-on:keyup.enter="newChat()")
                    .btn.playerChatSend#chatSendBtn(v-on:click="newChat()")
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"  viewBox="0 0 512.001 512.001" style="enable-background:new 0 0 512.001 512.001;" xml:space="preserve"> <path d="M483.927,212.664L66.967,25.834C30.95,9.695-7.905,42.023,1.398,80.368l21.593,89.001 c3.063,12.622,11.283,23.562,22.554,30.014l83.685,47.915c6.723,3.85,6.738,13.546,0,17.405l-83.684,47.915 c-11.271,6.452-19.491,17.393-22.554,30.015l-21.594,89c-9.283,38.257,29.506,70.691,65.569,54.534l416.961-186.83 C521.383,282.554,521.333,229.424,483.927,212.664z M359.268,273.093l-147.519,66.1c-9.44,4.228-20.521,0.009-24.752-9.435 c-4.231-9.44-0.006-20.523,9.434-24.752l109.37-49.006l-109.37-49.006c-9.44-4.231-13.665-15.313-9.434-24.752 c4.229-9.44,15.309-13.666,24.752-9.435l147.519,66.101C373.996,245.505,374.007,266.49,359.268,273.093z"/></svg>
                    .playerChatInputFormLoaderWr(v-if="chatTextSend")
                        .playerChatInputFormLoader
