doctype html
html
    head
       include meta
    body()
        .underWork#app(style="overflow-x:hidden;" v-on:click="showDeptDialog=false")
            .loginMain
                .logoWr
                    .loginCenter
                        .loginH1
                            span кон
                            span.red текст
                    .loginH2
                        .loginH2Box.bounceInLeft
                            div КОММУНИКАЦИОННАЯ СЕССИЯ
                            div «ГАЗПРОМ НЕФТИ»
                        div(style="clear: both;")
                .loginWr
                    .loginTitle Регистрация
                    form.loginForm(method="POST")
                            input.regInput#finput(placeholder="ВАШЕ ИМЯ" + "*" v-model="user.f" v-on:change="checkf(user.f)" onkeypress="if(event.keyCode==13) document.getElementById('codeinput').focus()")
                            .regInputError
                                .regInputErrorTitle(v-bind:class="{active:err.f}") Поле должно быть заполнено корректно
                            input.regInput#codeinput(type="text" placeholder="КОД-ПАРОЛЬ" + "*" v-model="user.code" v-on:change="checkCode(user.code)")
                            .regInputError
                                .regInputErrorTitle(v-bind:class="{active:err.code}" v-if="err.code") Поле должно быть заполнено корректно
                                .regInputErrorTitle(v-bind:class="{active:err.codeUncorrect}" v-if="err.codeUncorrect") Код, или фамилия, или имя не зарегистрированы, попробуйте еще раз
                            .regBtn#regBtn(type="button" v-on:click="register()" v-bind:class="{disabled:!user.promice}")
                                div ЗАРЕГИСТРИРОВАТЬСЯ
                                .regBtnLoaderWr(v-if="isLoad")
                                .regBtnLoaderWrColor(v-if="isLoad")
                                .regBtnLoader(v-on:click.stop.prevent="void(1)" v-if="isLoad")
                                    .regBtnLoaderText Подождите, идет проверка
                            .promice Техническая поддержка +7 (495) 260-19-93
                            //.promice При входе Вы даете <a href="/images/promice.pdf" target="_blank"> cогласие на обработку и передачу своих персональных данных.</a>

                .pupirka.bounceIn
                .finger.bounceInDown
        script.
            var dept=!{JSON.stringify(dept)}
            document.addEventListener('touchmove', function (event) {
                if (event.scale !== 1) {
                    event.preventDefault();
                }
            }, false);
        script(src="/javascripts/vue.min.js")
        script(src="/javascripts/axios.min.js")
        script(src="/javascripts/loginScript.js")

