.headMenu
    .headMenuItem(onclick="EPPZScrollTo.scrollVerticalToElementById('playerBox', 100)") Трансляция
    .headMenuItem(onclick="EPPZScrollTo.scrollVerticalToElementById('pgm', 100)") Программа
    .headMenuItem(onclick="EPPZScrollTo.scrollVerticalToElementById('spk', 100)") Спикеры