title="КОНТЕКСТ"
<meta charset="UTF-8">
<meta name="description" content="КОНТЕКСТ">
<meta name="keywords" content=" КОНТЕКСТ">
<meta name="author" content="КОНТЕКСТ">
<meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0">

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">

<meta name="msapplication-TileColor" content="#ffffff">

<meta name="theme-color" content="#ffffff">

<meta property="og:locale" content="ru_RU">
<meta property="og:type" content="website" />
<meta property="og:url" content="КОНТЕКСТ" />
meta(property="og:title" content="КОНТЕКСТ")
meta(property="og:description" content="КОНТЕКСТ" )
<meta property="og:image" content="https://gpn-context.ru/favicon-32x32.png" />
script.
    try {
        eval("let a=()=>{;;};")
    } catch (e) {
        console.log(e)
        document.location.href = "/badbrowser"
    }
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WD4C64RD24"></script>
link(rel='stylesheet', href='/stylesheets/style.css')