.pgm#spk
    .pgmBody.spkBody
        .spkItem(v-for="item in speakers")
                .spkItemPhoto
                    .spkItemPhotoWr(:style="{ backgroundImage: `url(${item.photo?item.photo:'/images/nouser.png'})` }")
                .spkItemNameBox
                    .spkItemNameWr
                        .spkItemName {{item.i}} {{item.o}} {{item.f}}
                        .spkItemPos  {{item.position}}
                    .spkItemTheme  {{item.theme}}
