doctype html
html
    head
        title="vcbr.ru"
        <meta charset="UTF-8">
        <meta name="description" content="http://gpn-context.ru/">
        <meta name="keywords" content=" http://gpn-context.ru/">
        <meta name="author" content="http://gpn-context.ru/">
        <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0">

        <link rel="manifest" href="/images/cbicons/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">

        <meta name="theme-color" content="#ffffff">

        <meta property="og:locale" content="ru_RU">
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://http://gpn-context.ru//" />
        meta(property="og:title" content="http://gpn-context.ru/")
        meta(property="og:description" content="http://gpn-context.ru/" )
        <meta property="og:image" content="https://" />
        link(rel='stylesheet', href='/stylesheets/style.css')
        script.
            try {
                eval("let a=()=>{;;};")
            } catch (e) {
                console.log(e)
                document.location.href = "/badbrowser"
            }
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-WD4C64RD24"></script>
        link(rel='stylesheet', href='/stylesheets/style.css')
    body(style="overflow:hidden")
        .underWork
            .loginWr
                img(src="/images/w01.jpg")


