doctype html
html
    head
        include meta
    body(style="overflow:hidden")
        .underWork
            .loginWr(style="background-color:transparent;width: 100%;")
                img(src="/images/w02.png" style="max-width: 100%;")


