.voteBox
    .voteItem(v-for="item in tags" v-if="item.isactive")
        .voteItemTitle {{item.title}}
        .voteItemAnwers(v-if="!item.iscompl")
            input.tagsInput(placeholder="Напишите слова через запятую" v-model="tag['id'+item.id]" :readonly="isTagsCompl['id'+item.id]")
            .voteBtnTags.regBtn(v-on:click="tagsSend(item)" v-if="!isTagsCompl['id'+item.id]") Проголосовать
            .voteBtnTags.regBtn( v-else) Ваш выбор принят
        .voteItemAnwers(v-else)
            .voteBtnTags.regBtn( v-on:click="tagsResShow(item)") Посмотреть результаты



